.card {
    height: 250px;
    width: 150px;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.2em 1.2em;
}
.cardContainer {
    margin: 0.5em 0.3em;
}
.cardLink {
    text-decoration: none;
}
.cardAction {
    width: 150px;
    margin: 0;
    padding: 0;
    /* height: 100%; */
}
.cardMedia {
    object-fit: contain;
    height: 128px;
    width: 128px;
    /* margin-top: 0;
    top: 0; */
    /* border-radius: 150%; */
}
.cardContent {
    height: 100px;
    padding: 0.5em !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cardTitle {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin: 0.2em 0 0.3em 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.cardInfo {
    margin: 0.5em 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
